<app-navbar></app-navbar>

<div style="margin-top: 100px">
  <!-- create Event Form -->
  <!-- <pre>{{event |json}}</pre> -->
  <div class="container py-3 shadow">
    <div class="row">
      <p class="h3 addEvent">Update Event</p>
      <div class="col">
        <form [formGroup]="updateEventForm" (ngSubmit)="onSubmit()">
          <div class="mb-2 py-1">
            <input
              formControlName="title"
              class="form-control inputColor"
              placeholder="title"
              type="text"
            />
          </div>
          <div class="mb-2 py-1">
            <textarea
              formControlName="description"
              class="form-control inputColor"
              id="textAreaExample"
              placeholder="description"
              rows="4"
            ></textarea>
          </div>
          <div class="form-outline"></div>
          <div class="mb-2 py-1">
            <select
              formControlName="type"
              class="form-control inputColor"
              name="types"
              id="types"
              style="width: 100%; height: 50px"
              (change)="handleTypeEvent($event)"
            >
              <option hidden selected>select event type ...</option>
              <option value="Cultural">Cultural</option>
              <option value="Entertainment">Entertainment</option>
              <option value="Social">Social</option>
              <option value="Religious">Religious</option>
            </select>
          </div>
          <div class="mb-2 py-1">
            <input
              formControlName="date"
              class="form-control inputColor"
              placeholder="date"
              type="date"
            />
          </div>
          <!-- <div class="form-control inputColor">
            <label for="exampleFormControlFile1"
              >select event photo:</label
            >
            <input
            
              type="file"
              class="form-control-file"
              (change)="onFileChange($event)"
            />
          </div> -->
          <div class="mb-2 py-2">
            <input
              class="btn btn-secondary"
              value="Update event"
              type="submit"
              style="width: 100%"
            />
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <div class="imagePlace">
          <img
            *ngIf="!url; else elseBlock"
            src="{{ event.image }}"
            alt="image"
            class="rounded imageEvent"
          />
          <ng-template #elseBlock>
            <img [src]="url" alt="image" class="rounded imageEvent" />
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
