<app-navbar></app-navbar>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>

    <div>
    <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t39.30808-6/276173681_1385286421893856_2343208054949005982_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=sHOdNT_Fu4QAX_gG7RI&_nc_ht=scontent.ftun4-2.fna&oh=00_AT9141zctH7FOYz0U9Sw-hkEPjRmIV0nTb7WNytRbCYOjQ&oe=62776CB7" id="alaa" type="button" (click)="goToUrl1()">
</div>
<div>
<p id="oueslati">
        Alaa Oueslati
    </p>
</div>
<div>
        <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.6435-9/36728450_1807878765955077_8853245864253063168_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=174925&_nc_ohc=psjIAkE3fDcAX9gz77L&_nc_ht=scontent.ftun4-2.fna&oh=00_AT8lJBoyVY3g5eJ5KWnOgVM3jr7Fm7wMvM9M8dU8xNwPhA&oe=62993F7A" id="amine" type="button" (click)="goToUrl2()">
    </div>
        <div>
        <p id="selmi">
            Amine Selmi
        </p>
    </div>
        <div>
            <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.6435-9/61127162_1293778307441781_2857923895057448960_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=174925&_nc_ohc=UxeZHdO5eiEAX_PyNb9&_nc_ht=scontent.ftun4-2.fna&oh=00_AT8advcXOgqtSPDkUXllfGeBeeyUnH1UWSujGWMLTJn4NA&oe=62985BB7" id="youssef" type="button" (click)="goToUrl3()">
        </div>
        <div>
        <p id="bedoui">
                Youssef Bedoui
            </p>
        </div>
               <div>
               <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t39.30808-6/242032772_6020394704697882_742970602802430701_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=o0meYzZgf_UAX-HfgzR&_nc_ht=scontent.ftun4-2.fna&oh=00_AT9O5kSpBaLObTqQdYdvUa77t3y-Z926_xtrx0oVLwZVhg&oe=62787226" id="imed" type="button" (click)="goToUrl4()">
               </div>
               <div>
               <p id="rahal">
                    Imed Rahal
                </p>
            </div>
            <div>
            <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t39.30808-6/274293559_1089460205233013_4120289504839922893_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=OPveSsv_vUEAX86uQes&_nc_ht=scontent.ftun4-2.fna&oh=00_AT-4EkX5OnFGumF3UV2xmNFgli-zedoh6Lef1tnjebMYAA&oe=6276A165" id="slim"type="button" (click)="goToUrl5()">
                </div>
                <div>
                <p id="guenidez">
                        Slim Guenidez
                    </p>
                </div>

                <div>
                    <p id="text1">
                        We made this page to feed your curiosity about the builder team
                    </p>
                     <p id="text2">
                        Each photo will take you to another world of success
                     </p>
                </div>
</body>
</html>
