
<app-navbar></app-navbar>

<div  id="admin">
  <div *ngIf=" role === 'admin'" id="centeredDiv">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <h2 id="title" >Add new admin </h2>
    <div id="element">
      <label>Name :</label>
      <br>
      <input formControlName="name" type="name" name="nameInput" placeholder="name"  required>
    </div>
    <div id="element">
      <label>Email :</label>
      <br>
      <input formControlName="email" type="email" name="emailInput" placeholder="email"  required>
    </div>
    <div id="element">
      <label>Password :</label>
         <br>
      <input formControlName="password" type="password" name="passwordInput" placeholder="password"  required>
    </div>
    <div>
      <button id="addBtn" class="btn btn-danger" >Send</button>

    </div>
  </form>
</div>
</div>

  <div>
    <div class="body">
    <div class="home5">
    <div *ngFor="let item of dataArray"  >
        <div class="container3">
            <h1>{{item.name}}</h1>
            <div class="cardcontainer">
                <div class="photo2"> <img src="https://www.kindpng.com/picc/m/150-1503993_check-man-user-avatar-person-done-complete-tick.png"
                  alt="...">
                </div>
                <div class="content">
                    <h1 class="txt4"> email: {{item.email}}</h1>

                    <h1 class="txt4">Role:{{item.role}}</h1>
                </div>
                </div>
            </div>
        </div>
        </div>
        </div>
     </div>





